.productTile {
    padding: 5px;
    margin: 10px 2px 30px 2px;
    background-color:#f9f9f9;
    border: 2px solid #f9f9f9;

}

.productImage {
    width:auto;
    max-width:100%;
    height:auto;
}

.productDetail {
    padding: 5px 5px 5px 0px;
}

.productTitle {
    font-weight: bold;
    padding: 5px 5px 5px 0px;
}

.productDesc {

}

.productPrice {
    font-weight: bold;
    text-align: right;
    padding: 5px 5px 5px 0px;
}

.productButtons {

}

.navbar .brand {
    max-width:45px;
    margin-top: -7px;
    margin-bottom: 10px;
}

.container {
    margin-top: 50px;
}

.detectorCanvas {
    display: none;
}

.logo {
    height: 75px;
    width: 75px;
}

.photo_tile img {
    padding: 5px 5px 5px 5px;
    width: 100%;
}

.photo_tile .uploadProgress {
    position: absolute;
    bottom: 10%;
    left: 5px;
    right: 5px;
    text-align: center;
}

.viewport {
    width: 100%;
    height: 100%;
}

.viewportCanvas {
    width: 100%;
}

.searchBar {
    padding: 30px 0px 30px 0px;
}

.footer {
    padding-top: 30px;
    position: fixed;
    height: 55px;
    bottom: 0;
    width: 100%;
    background-color: #F5F5F5;
    border-color: #E7E7E7;
    border-width: 0px 0px 5px;
    z-index: 10;
}

.uploader {
    position: relative;
    overflow: hidden;
    float: left;
    clear: left;

}

.uploader input[type="file"] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    font-size: 100px;
    filter: alpha(opacity=0);
    cursor: pointer;
    z-index: inherit;
}



