#body {
    /*background-image: url("/images/triangle.png");*/
    /*background-size: cover;*/
    /*background-repeat: repeat-y;*/
}

.productTile {
    padding: 5px;
    margin: 2px 2px 60px 2px;
    background-color:#f9f9f9;
    border: 2px solid #f9f9f9;
    height: 400px;
    position: relative
}

.productImage {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.productDetail {
    padding: 5px 5px 5px 0px;
}

.productTitle {
    font-weight: bold;
    padding: 5px 5px 5px 0px;
}

.productDesc {

}

.productPrice {
    font-weight: bold;
    text-align: right;
    padding: 5px 5px 5px 0px;
}

.productButtons {
    position: absolute;
    bottom: 0;
}


.navbar .brand {
    max-width:45px;
    margin-top: -7px;
    margin-bottom: 10px;
}

.section {
    margin: 80px 0px 200px 0px;
    margin-bottom: 55px;
}

.detectorCanvas {
    display: none;
}

.logo {
    height: 75px;
    width: 75px;
}

.photo_tile img {
    padding: 5px 5px 5px 5px;
    width: 100%;
}

.photo_tile .uploadProgress {
    position: absolute;
    bottom: 10%;
    left: 5px;
    right: 5px;
    text-align: center;
}

.viewport {
    width: 100%;
    height: 100%;
}

.viewportCanvas {
    width: 100%;
    height: 100%;
}

.searchBar {
    padding: 0px 0px 30px 0px;
}

.footer {
    position: fixed;
    height: 52px;
    bottom: 0;
    width: 100%;
    background-color: #F5F5F5;
    border-color: #E7E7E7;
    border-width: 0px 0px 5px;
    z-index: 10;
}

.uploader {
    position: relative;
    overflow: hidden;
    float: right;
    clear: left;

}

.uploader input[type="file"] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    font-size: 100px;
    filter: alpha(opacity=0);
    cursor: pointer;
    z-index: inherit;
}

.emptySearch {
    width: 100px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.dashboard table {
    width: 100%;
    height: 100%;
}

.dashboard #productName td {
    width: 33%
}

.footerLink {
    width: 17%;
}

.trimmable {
    white-space: nowrap;
    width: 100%;                   /* IE6 needs any width */
    overflow: hidden;              /* "overflow" value must be different from  visible"*/
    -o-text-overflow: ellipsis;    /* Opera < 11*/
    text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
}
