<template name="adminPage">
    <div class="section">
        <div class="container">
            <h2>Admin page</h2>
            <hr>
            {{> productDashboard}}
            <hr>
            {{> productUpload}}
            <hr>
            {{> brandUpload}}
        </div>
    </div>
</template>

<template name="csvInput">
    <div class="alert alert-info" role="alert">
        <p>The format for adding new products is as follows:</p>

        <p><strong>name,description,price,link</strong></p>
    </div>
    <textarea class="csvInputTextbox" cols="30" rows="10" style="width: 100%;"></textarea>

</template>

<template name="productUpload">
    <h3>Product import/export</h3>
    <div class="alert alert-info" role="alert">...</div>
    <span class="btn btn-default btn-file">
        <input class="productImporter" type="file">
    </span>
    <a href="/zip" class="btn btn-info" role="button">
        <span class="glyphicon glyphicon-download-alt"></span> Download CSV
    </a>

</template>

<template name="imageUpload">
    <div class="alert alert-info" role="alert">
        <p>These images are used to populate the products page.</p>
        <p>Accepted formats: <strong>.jpeg (.jpg or .jpeg), .png, .gif, .tiff</strong></p>
    </div>
    <input class="imageUploadForm" type="file">

</template>


<template name="brandUpload">
    <h3>Upload branding images</h3>

    <div class="alert alert-info" role="alert">...</div>
    <input class="brandUploadForm" type="file">

</template>




