<template name="galleryPage">
    <h2>You are on the gallery screen.</h2>
    {{> images}}
    {{> uploader}}

</template>

<template name="images">
    <div id="images">
        {{#each images}}
            {{> photoTile}}
        {{/each}}
    </div>

</template>

<template name="photoTile">
    <div class="photo_tile">
        <div class="col-xs-6 col-sm-3">
            <div>
                {{#if url store="thumbnail"}}
                {{! if we have a url to the thumbnail store we will display the image}}
                    <img src="{{url store="thumbnail"}}">
                {{else}}
                {{! Since we are do not have a url lets show a placeholder image}}
                    <img src="/images/loading.gif">
                    {{#unless isUploaded}}
                    {{! If we haven't fully uploaded the file yet show the progress}}
                        <p class="uploadProgress">uploading..{{uploadProgress}}%</p>
                    {{else}}
                    {{!
                    Since we have a fully uploaded file but the store hasn't finished
                    processing yet, we will display a processing message.
                    }}
                        <p class="uploadProgress">processing..</p>
                    {{/unless}}
                {{/if}}
            </div>
        </div>

    </div>

</template>

<template name="viewport">
    <p>3d view</p>
    <div id="viewport" class="viewport">
        <canvas id="myCanvas" width="100%" height="600" style="background-color: #aaaaaa"></canvas>
    </div>

</template>