<template name="galleryPage">
    <div class="container">
        {{> images}}
    </div>

</template>

<template name="images">
   <div class="section">
    <div class="container">
        <div id="images">
            {{#each images}}
                {{> photoTile}}
            {{/each}}
        </div>
    </div>
</div>
</template>

<template name="photoTile">
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <div>
                <img src="{{this.url store='thumbnail' uploading='/images/hex.gif' storing='/images/hex.gif'}}" alt=""
                     class="thumbnail"/>
                <div class="after">
                    Delete {{this.name}}: {{#FS.DeleteButton class="btn btn-danger btn-xs"}}Delete Me{{/FS.DeleteButton}}
                </div>
            </div>
        </div>
    </div>

</template>