<template name="galleryPage">
    <div class="container">
        {{> images}}
    </div>

</template>

<template name="images">
    <div class="section">
        <div class="container">
            <div id="images">
                {{#if images.count}}
                    {{#each images}}
                        {{> photoTile}}
                    {{/each}}
                {{else}}
                    <div class="emptySearch">
                        <h3>No images found.</h3>
                        <h4>Start by clicking the arrow below :)</h4>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>

</template>

<template name="photoTile">
    <div class="photo_tile">
        <div class="col-xs-6 col-sm-4">
            <div class="thumbnail">
                <img src="{{this.url store='thumbnail' uploading='/images/hex.gif' storing='/images/hex.gif'}}" class="img-responsive">
                <div class="caption">
                    <div class="trimmable"><strong>{{this.name}}</strong></div>
                    {{#FS.DeleteButton class="btn btn-danger btn-xs"}}<span class="glyphicon glyphicon-remove"></span> Delete{{/FS.DeleteButton}}
                </div>
                </div>
            </div>
        </div>

</template>