<template name="home">
    <div class="container">
        <div class="col-md-4" style="border-style: dashed">
            <h1>Upload</h1>

            <div style="font-size: 10em;">
                <span><i class="glyphicon glyphicon-camera" style=""></i>+</span>
            </div>
        </div>
        <div class="col-md-4" style="border-style: dashed">
            <h1>View</h1>

            <div style="font-size: 10em;">
                <span><i class="glyphicon glyphicon-picture" style=""></i></span>
            </div>
        </div>
        <div class="col-md-4" style="border-style: dashed">
            <h1>Products</h1>

            <div style="font-size: 10em;">
                <span><i class="glyphicon glyphicon-shopping-cart" style=""></i></span>
            </div>
        </div>
    </div>
</template>