<template name="home">
    <div class="container">
    <div class="col-md-4" style="background-color: #22A7F0; height: 100%; padding: 20px 20px 20px 20px">
        <h1>Upload</h1>

        <div style="font-size: 10em;">
            <span><i class="glyphicon glyphicon-camera" style=""></i>+</span>
        </div>
    </div>

    <div class="col-md-4" style="background-color: #7A942E; height: 100%;">
        <h1>View</h1>

        <div style="font-size: 10em;">
            <span><i class="glyphicon glyphicon-picture" style=""></i></span>
        </div>
    </div>
    <div class="col-md-4" style="background-color: #16A085; height: 100%;">
        <h1>Products</h1>

        <div style="font-size: 10em;">
            <span><i class="glyphicon glyphicon-shopping-cart" style=""></i></span>
        </div>
    </div>
        </div>
</template>