<template name="productsPage">

    {{> productSearch}}
</template>

<template name="productSearch">
    <div class="searchBar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" placeholder="Search..." value="{{productSearchQuery}}">
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{#if searchResults.count}}
            {{#each searchResults}}
                {{> product}}
            {{/each}}
        {{/if}}
    </div>
</template>

<template name="productList">
    //lists all products - good for debugging
    {{#each products}}
        {{> product}}
    {{/each}}
</template>

<template name="product">

    <div class="col-xs-6 col-sm-3">
        <div class="productTile">
            <div class="productImageContainer">
                <img class="productImage" src="/images/pic1.jpg">
            </div>
            <div class="productDetail">
                <div class="productTitle">
                    <p>{{name}}</p>
                </div>
                <div class="productDesc">
                    <p>{{description}}</p>
                </div>
                <div class="productPrice">
                    <p>£{{price}}</p>
                </div>
            </div>
            <div class="productButtons">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <a href="{{link}}" class="btn btn-info" role="button">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                        </a>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="#" class="btn btn-info" role="button">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>