<template name="footer">
    <footer class="footer">
        <div class="container">
            <div class="dashboard">
                <table border="0">
                    <tr>
                        <td>Selected product: {{currentProduct}}</td>
                        <td>
                            <span>
                                <a class="clearProduct" href="#">Clear</a>
                                <a href="/products"> Change </a>
                                <a class="visualize" href="#">View</a>
                            </span>
                        </td>
                        <td class="dashupload">{{> uploader}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </footer>
</template>