<template name="footer">
    <footer class="footer">
        <div class="container">
            <div class="dashboard">
                <table border="0">
                    <tr>
                        <td>
                            Product: <strong>{{currentProduct}}</strong>
                            <a href="#" class="btn btn-danger btn-xs clearProduct" role="button">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                        <td class="dashupload">{{> uploader}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </footer>
</template>